* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale del body */
body {
    font-family: Arial, sans-serif;
    line-height: 35px;
    background-color: #f0f8ff; 
    color: #333; 
    padding: 20px;
}

/* Stile per il titolo */
.titolo {
    text-align: center;
    font-size: 2em;
    color: #007acc; 
    margin-bottom: 20px;
}

.titoloDettagli{
    font-size: 2em;
    color: #007acc; 
    margin-bottom: 40px;
}

/* Stile per il pulsante */
input[type="button"] {
    background-color: #007acc; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 0 auto;
}

input[type="button"]:hover {
    background-color: #005999; 
}

/* Stile per la tabella */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #007acc; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007acc; 
    color: white;
}

td {
    background-color: white; 
}

/* Stile per il contenitore della tabella */
#stringaJSON {
    margin-top: 20px;
}